header{
    width: 100%;
    background: #E2EDE9;
    margin: 0px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    
}
/* logo */
#logo-menu{
    position: absolute;
    width: 59px;
    height: 74px;
    left: 51px;
    top: 15px;
}

#vectors{
    margin-top: 35px;
    display: flex;
    
}
#vectors div, #vectors button{
    margin-right: 20px;
}

button{
    background-color: rgba(0, 0, 0, 0); 
    border: none ;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    color: #484848;
}
input{
    border: none;
    width: 100px;
    height: 15px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 10px;
    letter-spacing: 0em;
    text-align: left;
    color: #484848;
    margin-top: 5px;
}

input::placeholder {
    color: #D6D6D6;
  }

input:focus {
    outline: none; 
    border: none; 
    box-shadow: none; 
  }

#search {
    background-color: white;
    padding: 5px 10px;
    width: 140px;
    height: 27px;
    border-radius: 21px;
    display: flex;
}

#vectors button img {
    height: 25px;
    width: 25px;
}
